<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
</head>
<body>
    <h3>开户界面</h3>
    <form action="/bank/add" method="post">
        <select name="bank">
            <option value="0">请选择银行</option>
            <option value="1">中国工商银行</option>
            <option value="2">中国建设银行</option>
        </select>
        <br><input name="username" size="20" placeholder="用户名"></input>
        <br><input name="phone" size="11" placeholder="用户手机号"></input>
        <button>提交</button>
    </form>
</body>
</html>